@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

.row {
  margin: 0 auto !important;
}

a {
	text-decoration: none;
}

h3 {
  color: #6d573a;
  font-family: "Roboto Slab", serif;
}

#back-to-top {
  cursor: pointer;
}

/* Swiper */

.swiper-container {
  width: 100%;
  height: 800px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main-slide1 {
  background-image: url(/images/Slider1.jpg);
  background-position: center;
  background-size: cover;
}

.main-slide2 {
  background-image: url(/images/Slider2.jpg);
  background-position: center;
  background-size: cover;
}

.main-slide3 {
  background-image: url(/images/Slider3.jpg);
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet {
  padding: 5px 10px;
  border-radius: 0px !important;
  width: 5px !important;
  height: 22px !important;
  text-align: center;
  line-height: 30px;
  background: none !important;
  border: 2px solid #d85f1d !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  color: black;
  border: 2px solid #fff !important;
}

:root {
  --swiper-theme-color: rgba(0, 0, 0, 0) !important;
}

.slider-aside {
  position: absolute;
  z-index: 15;
  color: #fff;
  background-color: rgba(108, 87, 68, 0.7);
  top: 25%;
  right: 10%;
  font-size: 23px;
  padding: 25px 105px;
}

.mehr-infos {
  background-color: #d85f1d;
  font-size: 18px;
  margin: 0 35px 0 35px;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s;
}

.mehr-infos:hover {
  background-color: #fff;
  color: #d85f1d;
}

/* Navigation */
#navbar,
#logo {
  transition: 0.3s;
}

.navigation-bar {
  position: fixed;
  background-color: rgba(248, 247, 247, 0.7);
  z-index: 18;
  padding: 15px 0 15px 0;
}

.nav-links a:hover {
  color: #cc6633;
}

.nav-links a {
  text-decoration: none;
  color: #727371;
  font-size: 19px;
  transition-duration: 0.3s;
}

.contact-phone a {
  color: #727371;
  text-decoration: none;
  transition-duration: 0.3s;
  font-size: 20px;
}

.contact-phone a:hover {
  color: #cc6633;
}

/* End of Navigation */

/* Footer */
.footer-section-1 {
  background-color: #6d573a;
}

.footer-info {
  padding: 10px 0 50px 0;
}

.bi-chevron-up {
  color: #b4581d;
}

.columns {
  display: flex;
  justify-content: center;
  color: #fff;
}

.column1 {
  margin-left: 78px;
}

.column2 {
  margin-left: 55px;
}

.column3 {
  margin-left: 34px;
}

.column4 {
  margin-left: 57px;
}

.column5 {
  margin-left: 80px;
}

.column6 {
  margin-left: 58px;
}

.footer-section-2 {
  background-color: #df5c1a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
}

/* End of Footer */

/* Image Gallery */
img.hover-shadow {
  transition: all 0.3s;
}

.carousel-row {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.carousel-row--img {
  width: 30%;
  margin-bottom: 40px;
  display: block;
}

.carousel-row--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.4s;
}

.carousel-row--img img:hover {
  background-color:rgba(180,88,29, 0.5);
}

.column-box {
  white-space: nowrap;
  background-color: transparent;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.column-box .column {
  width: 20%;
  display: inline-block;
  transition: all 1s;
}
.column-box .column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 50px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
}

.modal.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal-content {
  margin: auto;
  width: 50%;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .modal-content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes anime {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.my-slides {
  display: none;
  height: 60vh;
  transition: all 2s;
  overflow: hidden;
  animation: anime 0.8s ease-in;
  position: relative;
  padding: 10px;
}
@media only screen and (max-width: 56.25em) {
  .my-slides {
    height: 70vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .my-slides {
    height: 30vh;
  }
}
.my-slides img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.my-slides--number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.demo {
  opacity: 0.5;
  transition: all 0.4s;
}
.demo.active,
.demo:hover {
  opacity: 1;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: #fff;
  padding: 6px 16px;
  color: black;
}

/* The Close Button */
.close {
	color: white;
    position: absolute;
    top: 3%;
    right: 24%;
    font-size: 35px;
    background-color: #b4581d;
    border-radius: 50%;
    width: 36px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 99;
	transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #b4581d;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #B4581D;
  font-weight: lighter;
  font-size: 50px;
  transition: 0.6s ease;
  transform: translateY(-50%);
}

.prev a,
.next a {
	text-decoration: none;
}

@media only screen and (max-width: 37.5em) {
  .prev,
  .next {
    position: fixed;
    top: 95%;
    padding: 10px;
    font-size: 40px;
	transform: translateY(-50%);
  }
}
.prev:active,
.next:active {
  font-size: 30px;
}

/* Position the "next button" to the right */
.next {
  right: 25%;
  z-index: 99;
  top: 40%;
}

.prev {
  left: 25%;
  z-index: 99;
  top: 40%;
}
@media only screen and (max-width: 37.5em) {
  .prev {
    left: 9%;
    top: 61%;
  }

  .next {
	  top: 61%;
	  right: 9%;
  }

  .close {
	  right: 2%;
	  top: 26%;
  }

  .columns {
	  flex-direction: column;
  }

  .column1,
  .column2,
  .column3,
  .column4,
  .column5,
  .column6 {
	  margin: 0 auto;
  }

  .column2 {
	  margin-bottom: 15px;
  }

  .column6 {
	  margin-bottom: 15px;
  }
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(180,88,29, 0.5);
  color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .prev:hover,
  .next:hover {
	background: none;
	color: #B4581D;
  }
}

/* Images Overlay */

/* Common style */
.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 55px;
    justify-content: center;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 458px;
	max-height: 360px;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	background: rgba(180,88,29, 1);
}

figure.effect-julia img {
	max-width: none;
	height: 400px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: center;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
	text-align: center;
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	color: #fff;
	text-transform: none;
	font-weight: 500;
	font-size: 20px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-477px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(0,0,0);
}